// home page

// @media (max-width: 320px) {
//   header.washing-machines-header {
//     .my-first-container {
//       .call-wrapper {
//         display: none;
//       }
//       .menu {
//         .search {
//           order: -1;
//           display: none;
//         }
//       }
//     }
//   }
// }

// --------------

// our-dealers begin

    @media(max-width: 320px) {
        .washing-machines-header {
            display: none;
        }
        .services-header-top {
            .my-container {
                .breadcrump {
                    display: none;
                }
                .heading {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .contact {
                        display: none;
                    }
                }
            }
        }
    }

// --------------
