@font-face {
  src: url(../fonts/gilroy/Gilroy-Medium.ttf);
  font-family: gilroy-medium;
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-SemiBold.ttf);
  font-family: gilroy-semi-bold;
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-Bold.ttf);
  font-family: gilroy-bold;
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
  font-family: gilroy-regular;
}
@font-face {
  src: url(../fonts/grand/grandnational.ttf);
  font-family: grand-regular;
}
@font-face {
  src: url(../fonts/gilroy/Gilroy-ExtraBold.ttf);
  font-family: gilroy-extra-bold;
}
$second-black: #5a5a5b;
$text-on-black: #c8c8c8;
$black: #000000;
